@import url("https://fonts.googleapis.com/css?family=Arvo|Bitter|Bree+Serif|DM+Sans|Didact+Gothic|Krub|Martel|Montserrat|News+Cycle|Quicksand|Rajdhani|Raleway|Roboto+Slab|Syncopate|Aleo&display=swap");

@font-face {
 font-family: 'aleo-regular';
 src: url('../fonts/aleo/Aleo-Regular.ttf') format('truetype');
 font-style: normal;
 font-weight: 100;
 font-family: 'newsgoth';
 src: url('../fonts/newsgoth/newsgotl.ttf') format('truetype');
 font-style: normal;
 font-weight: 100;
}

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: inherit;
}

:root {
 /* Fonts */

 --roboto-slab: "Roboto Slab", serif;
 --bitter: "Bitter", serif;
 --arvo: "Arvo", serif;
 --bree-serif: "Bree Serif", serif;
 --martel: "Martel", serif;
 --montserrat: "Montserrat", sans-serif;
 --raleway: "Raleway", sans-serif;
 --quicksand: "Quicksand", sans-serif;
 --rajdhani: "Rajdhani", sans-serif;
 --news-cycle: "News Cycle", sans-serif;
 --didact-gothic: "Didact Gothic", sans-serif;
 --dm-sans: "DM Sans", sans-serif;
 --syncopate: "Syncopate", sans-serif;
 --krub: "Krub", sans-serif;
 --aleo-regular:  'Aleo', serif;

 /* Coolors */

 --maast-blue: rgba(46, 77, 114, 1);
 --cerulean: rgba(0, 164, 216, 1);
 --green: rgba(113, 191, 68, 1);
 --black: rgba(0, 0, 0, 1);
 --off-white: rgba(243, 243, 244, 1);
 --white: rgba(255, 255, 255, 1);
}

/* Universal Styles */

html {
 font-size: 10px;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}

ul {
 list-style: none;
}

img {
 width: 100%;
 max-width: 100%;
 height: auto;
}

p {
 font-size: 1.6rem;
}

.nav__btn {
 border-radius: 0.5rem;
 padding: 0.8rem 1.6rem;
 background-color: var(--white);
 color: var(--maast-blue);
 margin-top: 2rem;
 display: inline-block;
 font-size: 1.2rem;
 text-align: center;
 transition: 420ms ease;
}

.nav__btn:hover {
 background-color: var(--green);
 color: var(--white);
}

section {
 padding: 5rem 0;
}

body {
 background: var(--maast-blue);
}

/* Header */

header {
 width: 100%;
 height: 8.6rem;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}

.container {
 width: 100%;
 max-width: 120rem;
 padding: 0 1.5rem;
 margin: 0 auto;
}

.nav__brand {
 width: 16rem;
 max-width: 16rem;
 margin: 1rem 0;
}

.menu__icons {
 font-size: 3.5rem;
 color: var(--white);
 cursor: pointer;
 transition: 420ms;
}

.menu__icons:hover {
 color: var(--off-white);
}

nav {
 width: 100%;
 display: flex;
 align-content: center;
 justify-content: space-between;
 padding: 0 1rem;
}

.drop__list {
 display: none;
}

.nav__list {
 width: 100%;
 max-width: 75rem;
 height: 100vh;
 background: var(--maast-blue);
 position: fixed;
 top: 0;
 left: 0;
 opacity: 1;
 display: none;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 transition: all 70ms ease-in-out, opacity 81ms ease;
 z-index: 1300;
}

.nav__list.active {
 display: flex;
}

.close {
 position: absolute;
 top: 2rem;
 left: 2rem;
}

.nav__item {
 margin: 1.5rem 0;
}

.nav__link {
 font-size: 1.6rem;
 text-transform: uppercase;
 color: var(--white);
}

.nav__btn {
 text-transform: none;
}

.nav__btn {
 color: var(--maast-blue);
}


/* Hero */

#hero {
 width: 100%;
 height: 58vh;
 background: linear-gradient(135deg, rgba(46, 77, 114, .3) 0%, rgba(46, 77, 114, .7) 100%), url('../img/interior-design.jpg') center no-repeat;
 background-size: cover;
 position: relative;
}

.main__message {
 width: 100%;
 margin: 0 auto 1rem;
 text-align: center;
 color: var(--white);
 transform: translateY(5%);
}

.main__message h1 {
 font-family: var(--aleo-regular);
 font-weight: 200;
 font-size: 2.8rem;
 margin: 1.5rem;
}

.main__message h3 {
 font-family: 'newsgoth';
 text-rendering: optimizeLegibility;
 font-size: 1.9rem;
}


/* Sponsors Grid */

#sponsors {
 padding: 0;
}

.sponsors__message {
 text-align: center;
 color: var(--white);
 font-size: 2rem;
 margin: 2rem;
}

.sponsors__img__grid {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
 grid-gap: 2rem;
 align-items: center;
 justify-content: center;
}

.sponsors__img {
 width: auto;
 max-width: 20rem;
 max-height: 3.6rem;
 height: auto;
 margin: 2rem auto;
}








@media screen and (min-width: 800px) {

 .nav__list {
  width: initial;
  height: initial;
  background: initial;
  position: initial;
  top: initial;
  left: initial;
  opacity: initial;
  display: flex;
  flex-direction: row;
  transition: initial;
 }

 .menu__icons {
  display: none;
 }

 .nav__link {
  margin-top: 0;
  margin: 0 2rem;
  text-transform: none;
 }
}
